<template>
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" t="language">
    Language
  </a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
    <li repeat.for="locale of locales">
      <a class="dropdown-item ${locale.code === currentLocale ? 'active' : ''}" 
        click.trigger="setLocale(locale)"
        href="#"><i class="flag ${locale.flag}"></i> ${locale.title}</a>
    </li>
  </ul>
</template>
