<template>
  <require from="./../../components/nav-bar.html"></require>
  
  <nav-bar router.bind="router"></nav-bar>

  <div class="page-host container mt-5">
    <router-view></router-view>
  </div>
</template>
