<template>
  <section class="au-animate">
    <div class="row">
      <div class="col-8 mx-auto">
        <h2 class="text-center" t="applicantDetails">Applicant Details</h2>
        <hr />
        <div class="alert alert-success" role="alert" data-mdb-color="success"
             t="application.created" if.bind="showSuccessMessage">
          Application submitted successfully!
        </div>
        <div>
          <div class="row mb-1  ">
            <label t="labels.name" class="col-md-2 text-primary text-md-end">Name</label>
            <div class="col-md-10">
              <p>${applicant.name | stringNull}</p>
            </div>
          </div>
          <div class="row mb-1">
            <label t="labels.familyName" class="col-md-2 text-primary text-md-end">Family Name</label>
            <div class="col-md-10">
              <p>${applicant.familyName | stringNull}</p>
            </div>
          </div>
          <div class="row mb-1">
            <label t="labels.address" class="col-md-2 text-primary text-md-end">Address</label>
            <div class="col-md-10">
              <p>${applicant.address | stringNull}</p>
            </div>
          </div>
          <div class="row mb-1">
            <label t="labels.age" class="col-md-2 text-primary text-md-end">Age</label>
            <div class="col-md-10">
              <p>${applicant.age | stringNull} <span t="labels.years"> years</span></p>
            </div>
          </div>
          <div class="row mb-1">
            <label t="labels.email" class="col-md-2 text-primary text-md-end">Email</label>
            <div class="col-md-10">
              <p>${applicant.email | stringNull}</p>
            </div>
          </div>
          <div class="row mb-1">
            <label t="labels.country" class="col-md-2 text-primary text-md-end">Country</label>
            <div class="col-md-10">
              <p>${applicant.country | stringNull}</p>
            </div>
          </div>
          <div class="row mb-1">
            <label t="labels.hired" class="col-md-2 text-primary text-md-end">Hired</label>
            <div class="col-md-10">
              <i class="fa fa-check-circle text-success" if.bind="applicant.hired"></i>
              <i class="fa fa-times-circle text-danger" if.bind="!applicant.hired"></i>
            </div>
          </div>
          <hr />
          <div class="row mb-1 mt-3">
            <div class="col-md-10 offset-md-2">
              <a href="/" class="btn btn-outline-dark" role="button"><i class="fa fa-angle-left me-2"></i><span t="back">Back</span></a>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
</template>
