
<template>
  <div tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" t="pleaseConfirm">Please Confirm</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" click.trigger="controller.cancel()"></button>
        </div>
        <div class="modal-body">
          <p>${message}?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-dark" data-bs-dismiss="modal" t="cancel" click.trigger="controller.cancel()">Cancel</button>
          <button type="button" class="btn btn-primary" click.trigger="controller.ok()" t="reset">Reset</button>
        </div>
      </div>
    </div>
  </div>
</template>
