
<template>
  <div tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" t="messages.invalidData">Invalid Data!</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" click.trigger="controller.cancel()"></button>
        </div>
        <div class="modal-body">
          <div repeat.for="_validationError of validationErrors" class="mb-3">
            <h6>${_validationError.propertyName}</h6>
            <ul class="list-group list-group-flush">
              <li repeat.for="_error of _validationError.errors" class="list-group-item list-group-item-action list-group-item-warning"><small>${_error}</small></li>
            </ul>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-dark" data-bs-dismiss="modal" t="cancel" click.trigger="controller.cancel()">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</template>
