<template>
  <require from="./../../components/country-auto-complete"></require>
  <div class="row">
    <div class="col-8 mx-auto">
      <h2 class="text-center">Hahn Application Process</h2>
      <hr />
      <div class="alert alert-danger" role="alert" if.bind="errorMessage">
        <h4 class="alert-heading" t="messages.somethingWrong">Something's wrong!</h4>
        <p>${errorMessage}</p>
      </div>
      <div class="alert alert-success" role="alert" if.bind="successMessage">
        <h4 class="alert-heading" t="messages.allDone">All done!</h4>
        <p>${successMessage}</p>
      </div>
      <form class="row g-3 needs-validation">
        <div class="col-md-6 form-group">
          <label for="inputName" t="labels.name" class="form-label">Name</label>
          <input type="text" class="form-control" id="inputName" value.bind="applicant.name & debounce & validate">
        </div>
        <div class="col-md-6 form-group">
          <label for="inputFamilyName" t="labels.familyName" class="form-label">Family Name</label>
          <input type="text" class="form-control" id="inputFamilyName" value.bind="applicant.familyName & debounce & validate">
        </div>
        <div class="col-10 form-group">
          <label for="inputAddress" t="labels.address" class="form-label">Address</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" value.bind="applicant.address & debounce & validate">
        </div>
        <div class="col-md-2 form-group">
          <label for="inputAge" class="form-label" t="labels.age">Age</label>
          <input type="number" class="form-control" id="inputAge" value.bind="applicant.age & debounce & validate">
        </div>
        <div class="col-md-6">
          <label for="inputCountry" class="form-label" t="labels.country">Country</label>
          <select as-element="country-auto-complete" class="form-control" value.bind="applicant.country">
          </select>
        </div>
        <div class="col-md-6 form-group">
          <label for="inputEmail" t="labels.email" class="form-label">Email</label>
          <input type="text" class="form-control" id="inputEmail" value.bind="applicant.email & debounce & validate">
        </div>
        <div class="col-12">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridHired" checked.bind="applicant.hired">
            <label class="form-check-label" for="gridHired" t="labels.hired">
              Hired
            </label>
          </div>
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary" disabled.bind="preventSave || submitInProgress" click.trigger="submit()" t="labels.send">Send</button>
          <button type="button" class="btn btn-dark" disabled.bind="submitInProgress || !isFormDirty" click.trigger="confirmReset()" t="reset">Reset</button>
          <div class="spinner-border text-primary" role="status" if.bind="submitInProgress">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>

      </form>
    </div>
</div>
  
</template>
